:root {
    --color-background: #eee;
    --color-text: #555;
    --color-border: #e1e1e1;
    --color-primary: #2B8492;
    --font-main: 'Barlow', sans-serif;
    --top: 30%;
    --left-0: 45%;
    --left-1:65%;
    --display: block;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-main);
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 56px auto;
    grid-template-areas: 
      "header"
      "main";
    transition: .3s all;
    overflow: hidden;
  }
  
  .container.active {
    grid-template-columns: 250px auto;
    grid-template-areas: 
      "aside header"
      "aside main";
    transition: .3s all;
  }
  
  
  header {
    grid-area: header;
    border-bottom: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  aside {
    grid-area: aside;
    border-right: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 56px auto;
    grid-template-areas:
      "search"
      "notelist";
    transition: .3s all;
  }
  
  main {
    grid-area: main;
  }
  
  button {
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    color: var(--color-text);
  }
  
  button:hover {
    color: var(--color-primary);
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  /**  Search  **/
  .search-box {
    grid-area: search;
    border-bottom: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 0 20px;
  }
  
  #search {
    padding: 10px 0;
    background-color: transparent;
    border: none;
  }
  
  #search:focus {
    outline: none;
    color: #111;
  }
  
  ul {
    grid-area: notelist;
  }
  
  ul li {
    padding: 20px;
    border-bottom: 1px solid var(--color-border);
    transition: .3s all;
  }
  
  ul li:hover {
    cursor: pointer;
    background-color: var(--color-border);
  }
  
  .selected {
    background-color: white;
    margin-right: -1px;
  }
  
  #toggle {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-left: none;
  }
  
  .active #toggle {
    left: 249px;
  }
  
  #toggle:hover {
    cursor: pointer;
    color: var(--color-primary);
  }
  
  #noteinput {
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    transition: .3s all;
  }
  
  #noteinput:focus {
    outline: none;
    background-color: white;
    color: #111;
  }
  
img {
  size: 5px;
  color: #555;
  opacity: 0.9;
}

.modal{
  position: absolute;
  top: var(--top);
  left: var(--left-0);
  padding: 20px;
  border-radius: 10px;
  background-color: #1f1f1f;
  color: whitesmoke;
  border: 1px solid black;
  display: var(--display);
}

.modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.close{
  position: absolute;
  top: var(--top);
  left: var(--left-1);
  font-size: 30px;
  padding: 0px 5px;
  background: #1f1f1f;
  border-radius: 50%;
  color: whitesmoke;
  z-index: 10;
}

.modal-body p, li{
  padding-bottom: 10px;
}